<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfDoctrineRestBasicPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Takes doctrine model and makes rest actions</summary>
  <description>Takes doctrine models and generates rest actions (get, put, post, delete) for the generated module.</description>
  <lead>
    <name>Sean Villani</name>
    <user>sean.villani</user>
    <email>sean.villani@gmail.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.3.0</min>
        <max>2.0.0</max>
        <exclude>2.0.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
      <release>
       <version>
        <release>0.1.6</release>
        <api>0.1.6</api>
       </version>
       <stability>
        <release>beta</release>
        <api>beta</api>
       </stability>
       <date>2010-11-25</date>
       <license uri="http://www.opensource.org/licenses/mit-license.html">MIT</license>
       <notes>
        Namespaced the helper classes to stop potential issues
        Added a very important executePut method, without it the Put doesn't really work to well. Or at all!
        Cleaned up logger code kill multiple instantiation
        Killed all closed php ?> as they are not needed.
        General clean up after a code review by Lloyd Leung
       </notes>
      </release>
      <release>
       <version>
        <release>0.1.5</release>
        <api>0.1.5</api>
       </version>
       <stability>
        <release>beta</release>
        <api>beta</api>
       </stability>
       <date>2010-11-21</date>
       <license uri="http://www.opensource.org/licenses/mit-license.html">MIT</license>
       <notes>
        Added sfDoctrineRestBasicRoute which cleans up the routing by extending the sfRequestRoute to handle the requested actions (get, head, put, post, delete)
       </notes>
      </release>
      <release>
       <version>
        <release>0.1.4</release>
        <api>0.1.4</api>
       </version>
       <stability>
        <release>beta</release>
        <api>beta</api>
       </stability>
       <date>2010-11-21</date>
       <license uri="http://www.opensource.org/licenses/mit-license.html">MIT</license>
       <notes>
        Minor adjustments so that it could be added to symfony svn repo
       </notes>
      </release>
      <release>
       <version>
        <release>0.1.3</release>
        <api>0.1.3</api>
       </version>
       <stability>
        <release>beta</release>
        <api>beta</api>
       </stability>
       <date>2010-11-20</date>
       <license uri="http://www.opensource.org/licenses/mit-license.html">MIT</license>
       <notes>
        Fixing your name here issue
       </notes>
      </release>
      <release>
       <version>
        <release>0.1.2</release>
        <api>0.1.2</api>
       </version>
       <stability>
        <release>beta</release>
        <api>beta</api>
       </stability>
       <date>2010-11-20</date>
       <license uri="http://www.opensource.org/licenses/mit-license.html">MIT</license>
       <notes>
        Updating the README to include logging info.
        Fixing bug to EXTENDS CLI generator.
        Fixing bug to routes
       </notes>
      </release>
      <release>
       <version>
        <release>0.1.1</release>
        <api>0.1.1</api>
       </version>
       <stability>
        <release>beta</release>
        <api>beta</api>
       </stability>
       <date>2010-11-20</date>
       <license uri="http://www.opensource.org/licenses/mit-license.html">MIT</license>
       <notes>
        Fixes to the delete method, cleaning up junk.
        Updating the README to be more helpful.
       </notes>
      </release>
      <release>
       <version>
        <release>0.1.0</release>
        <api>0.1.0</api>
       </version>
       <stability>
        <release>beta</release>
        <api>beta</api>
       </stability>
       <date>2010-11-20</date>
       <license uri="http://www.opensource.org/licenses/mit-license.html">MIT</license>
       <notes>
        Initial public release.
       </notes>
      </release>
   </changelog>
</package>
